---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Engineer in Informatics Science with 6 years + of experience in software development. Dominion of various programming
    languages, frameworks, CMS and graphics engines. Experience in WEB design and development. Work with Data Base handled
    systems, as well as design, normalization and migration. Knowledge of work with graphic design tools for image
    manipulation , User Interfaces design, Web sites, logos and other ones.
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Funds</div>
  </div>

  <ul class="list-decimal mx-6 mb-10 grid gap-2">
    <li>同志社大学大学院博士後期課程次世代研究者挑戦的プロジェクト (SPRING)</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="同志社大学大学院　生命医科学研究科　医工学・医情報学専攻　医情報学コース（後期課程）"
      subtitle="From 2022"
    />
    <TimeLineElement
      title="同志社大学　生命医科学研究科　医工学・医情報学専攻　医情報学コース（前期課程）"
      subtitle="From 2020 to 2022"
    />
    <TimeLineElement
      title="同志社大学　生命医科学部　医情報学科"
      subtitle="From 2016 to 2020"
    />
    <TimeLineElement title="生野高校　普通科" subtitle="From 2013 to 2016" />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="リサーチャー（業務委託）"
      subtitle="From 2022 at 株式会社SandBox"
      desc="研究サーベイ・実験計画・データ解析等, Python"
    />
    <TimeLineElement
      title="エンジニア（インターン）"
      subtitle="From 2019 to 2022 at HACARUS INC."
      desc="ライブラリ開発・データ解析, C++, Python"
    />
    <TimeLineElement
      title="エンジニア（インターン）"
      subtitle="2020 at Future Corporation"
      desc="交通系プラットフォームサービスの開発, Vue.js, TypeScript, Go"
    />
    <TimeLineElement
      title="エンジニア（インターン）"
      subtitle="2019 at Chartwork Co., Ltd."
      desc="プロジェクト開発形式のインターン, Scala, DDD, Scrum"
    />
    <TimeLineElement
      title="エンジニア（アルバイト）"
      subtitle="From 2018 to 2019 at Donuts Co. Ltd."
      desc="携帯ゲーム開発, PHP, HTML, CSS"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>応用情報技術者</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>日本語</li>
    <li>Python</li>
    <li>R</li>
    <li>MATLAB</li>
    <li>Presentation (neurobs)</li>
    <li>Psychtoolbox</li>
    <li>PsychoPy</li>
    <li>統計</li>
    <li>ベイズ統計</li>
    <li>C++</li>
    <li>Go</li>
    <li>LaTeX</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Vue.js</li>
    <li>TypeScript</li>
    <li>Scala</li>
    <li>PHP</li>
    <li>C#</li>
    <li>Rust</li>
    <li>Elm</li>
    <li>MySQL</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>Scrum</li>
  </ul>
</BaseLayout>
