---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Publication">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Articles</div>
  </div>

  <ul class="list-decimal mx-6 mb-10 grid gap-2">
    <li>
      Miku Uenaka, <span class="underline">Hidekazu Nagamura</span>, Shizuko
      Hiryu, Kohta I. Kobayasi, Yuta Tamai, “Feasibility evaluation of
      transtympanic laser stimulation of the cochlea from the outer ear”,
      Journal of the Acoustical Society of America, vol. 152, pp. 1850-1855,
      2022 (<a
        href="https://doi.org/10.1121/10.0014241"
        target="_blank"
        class="hover:underline">https://doi.org/10.1121/10.0014241</a
      >)
    </li>
    <li>
      <span class="underline">Hidekazu Nagamura</span>, Hiroshi Ohnishi, Momoko
      Hishitani, Shota Murai, Yuma Osako, Kohta I. Kobayasi, “Reward enhancement
      and inhibition in auditory decision-making”, Proceedings of the
      AROB-ISBC-SWARM 2022, pp. 1164-1168, January 2022.
    </li>
    <li>
      <span class="underline">Hidekazu Nagamura</span>, Hiroshi Onishi, Momoko
      Hishitani, Shota Murai, Yuma Osako, Kohta I. Kobayasi, “Reward priming
      differentially modulates enhancement and inhibition in auditory
      decision-making”, bioRxiv. (<a
        href="https://doi.org/10.1101/2021.12.23.473984"
        target="_blank"
        class="hover:underline">https://doi.org/10.1101/2021.12.23.473984</a
      >)
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Misc</div>
  </div>

  <ul class="list-decimal mx-6 mb-10 grid gap-2">
    <li>
      <span class="underline">長村秀一</span>, 加藤大暉，新家一樹,
      “ラーニング・アシスタントでの学習支援と研究活動の相互作用 :
      「教える」「教わる」の観点から”,
      同志社大学学習支援・教育開発センター年報映像情報メディア学会技術報告, 14,
      pp. 68-78, 2023
    </li>
    <li>
      <span class="underline">長村秀一</span>, 冨岡晟多, 田中太一朗, 小林耕太,
      “自己音声への違和感は"不気味の谷"現象なのか?：音声モーフィングを用いた検討”,
      映像情報メディア学会技術報告, 47–7, pp. 31-34, 2023
    </li>
    <li>
      <span class="underline">長村秀一</span
      >，大西啓詩，橘亮輔，結城笙子，小林耕太,
      “記銘困難な音響刺激を用いたメタ認知に基づくリスク選択と確信度評価の関係性”,
      日本音響学会聴覚研究会資料, 51–6, pp. 313-317, 2021
    </li>
    <li>
      <span class="underline">長村秀一</span>,
      “「考える」仕組みの解明を⽬指して”, 日本比較生理生化学会誌, 38-2, pp.
      104-105, 2021
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Conferences</div>
  </div>

  <div class="mb-3">
    <div class="text-xl w-full font-bold">International Conferences</div>
  </div>

  <ul class="list-decimal mx-6 mb-5 grid gap-2">
    <li>
      <span class="underline">Hidekazu Nagamura</span>, Seita Tomioka, and Kohta
      I. Kobayasi, “Unraveling the Paradox of Self-Voice Emotion: A Comparative
      Analysis”, ARO 48th Annual MidWinter Meeting, February, 2025 (Accepted)
    </li>
    <li>
      <span class="underline">Hidekazu Nagamura</span>, Hiroshi Ohnishi, Kohta
      I. Kobayasi, and Shoko Yuki, “When prospective metacognition works better:
      Bet tells more than confidence rating”, The 27th annual meeting of the
      Association for the Scientific Study of Consciousness (ASSC27), July, 2024
      (Oral)
    </li>
    <li>
      <span class="underline">Hidekazu Nagamura</span>, Seita Tomioka, Taichirou
      Tanaka, and Kohta I. Kobayasi, “The origin of the uncomfortable feeling in
      one’s own recorded voice”, Interdisciplinary College 2024 (IK2024), March,
      2024
    </li>
    <li>
      <span class="underline">Hidekazu Nagamura</span>, Seita Tomioka, Taichirou
      Tanaka, and Kohta I. Kobayasi, “Why Your Voice Sounds Strange:
      Contribution of Acoustic Factors and Word Familiarity”, XXVII
      International Bioacoustics Congress (IBAC), October 2023
    </li>
    <li>
      Shota A. Murai, <span class="underline">Hidekazu Nagamura</span>, Kohta I.
      Kobayasi, Hiroshi Riquimaroux, “Changes in cortical activation associated
      with perceptual learning of noise vocoded speech sounds”, Neuroscience
      2022, November 2022
    </li>
    <li>
      <span class="underline">Hidekazu Nagamura</span>, Erika Sakaue, Hiroshi
      Onishi, Momoko Hishitani, Shota Murai, Yuma Osako, Kohta I. Kobayasi,
      “Past reward biases decision process in auditory detection task”, Society
      for Neuroscience (SfN) Global Connectome: A Virtual Event, January 2021
    </li>
    <li>
      Hiroshi Onishi, Rong Guan, <span class="underline">Hidekazu Nagamura</span
      >, Momoko Hishitani, Shota Murai, Kohta I. Kobayasi, “The emotional words
      temporally capture the spatial attention”, SfN Global Connectome: A
      Virtual Event, January 2021
    </li>
    <li>
      Momoko Hishitani, Yuma Osako, Shota Murai, <span class="underline"
        >Hidekazu Nagamura</span
      >, Hiroshi Onishi, Kohta I. Kobayasi, “Left inferior parietal cortex
      represents subjective stimulus visibility”, SfN Global Connectome: A
      Virtual Event, January 2021
    </li>
  </ul>

  <div class="mb-3">
    <div class="text-xl w-full font-bold">Domestic Conferences</div>
  </div>

  <ul class="list-decimal mx-6 mb-10 grid gap-2">
    <li>
      冨岡晟多, 長村秀一, 小林耕太,
      “自己録音音声に対する不快感情は普遍的に生じるのか？：オンライン実験による検討”,
      日本音響学会第152回(2024年秋季)研究発表会, 2024年9月
    </li>
    <li>
      Shintaro Numata, Taichirou Tanaka, <span class="underline"
        >Hidekazu Nagamura</span
      >, Shota A. Murai, Kohta I. Kobayasi, “Effects of Emotional Arousal Level
      on Speech Perception in Uncertain Environments”, 第47回日本神経科学学会,
      2024年7月
    </li>
    <li>
      冨岡晟多, <span class="underline">長村秀一</span>, 小林耕太,
      “自己音声に対する感情は評価状況で異なる：回想評価と音声聴取評価を用いた検討”,
      日本認知心理学会第22回大会, 2024年5月（採択済）
    </li>
    <li>
      <span class="underline">長村秀一</span>, 大西啓詩, 小林耕太, 結城笙子,
      “予見的メタ認知は評価方法によって変化する”, 日本基礎心理学会第42回大会,
      2023年12月
    </li>
    <li>
      <span class="underline">Hidekazu Nagamura</span>, Hiroshi Ohnishi, Kohta
      I. Kobayasi, Shoko Yuki, “Adaptive behavioral strategy, not performance,
      depends on how metacognitive information is used”, 第46回
      日本神経科学大会, 2023年8月
    </li>
    <li>
      Seita Tomioka, <span class="underline">Hidekazu Nagamura</span>, Taichirou
      Tanaka and Kohta I. Kobayasi, “Influence of acoustic features and
      linguistic information on discomfort in one's own voice”, 第46回
      日本神経科学大会, 2023年8月
    </li>
    <li>
      <span class="underline">長村秀一</span>, 冨岡晟多, 田中太一朗, 小林耕太,
      “音響・言語情報が自身の録音音声の評価に与える影響”, 音学シンポジウム2023,
      2023年6月
    </li>
    <li>
      <span class="underline">長村秀一</span>,
      “メタ認知に基づく行動制御における教示の効果”, SSTB2023 (Spring School for
      Theoretical Biology 2023), 2023年3月
    </li>
    <li>
      <span class="underline">長村秀一</span>, 冨岡晟多, 田中太一朗, 小林耕太,
      “自己音声への違和感は“不気味の谷”現象なのか？
      －音声モーフィングを用いた検討－”, ヒューマン情報処理(HIP)2023年2月研究会,
      2023年2月（口頭発表）
    </li>
    <li>
      冨岡晟多, 田中太一朗, <span class="underline">長村秀一</span>,
      “音声モーフィングを用いた自身の音声に対する親密度評価”, 第25回
      関西支部若手研究者交流研究発表会, 2022年11月
    </li>
    <li>
      Taichirou Tanaka, <span class="underline">Hidekazu Nagamura</span>, Shota
      A. Murai, Hiroshi Onishi, Kohta I. Kobayasi, “The effect of emotional
      arousal on the predictive processing in auditory perception under
      uncertainty”, Neuro2022, 2022年6月
    </li>
    <li>
      田中太一朗, 村井翔太, 大西啓詩, 大迫優真, <span class="underline"
        >長村秀一</span
      >,
      “雑音環境下において音知覚の予測処理に覚醒度は影響を与えるのか：情動喚起画像を用いた検討”,
      第24回 日本音響学会関西支部若手研究者交流研究発表会, 2021年12月
    </li>
    <li>
      <span class="underline">長村秀一</span>, 大西啓詩, 橘亮輔, 結城笙子,
      小林耕太,
      “記銘困難な音響刺激を用いたメタ認知に基づくリスク選択と確信度評価の関係性”,
      2021年10月度 聴覚研究会, 2021年10月
    </li>
    <li>
      <span class="underline">Hidekazu Nagamura</span>, Hiroshi Onishi, Momoko
      Hishitani, Shota Murai, Yuma Osako, Kohta I. Kobayasi, “Reward history
      biases detection speed in auditory detection task”, 第43回
      日本神経科学大会, 2020年7月
    </li>
    <li>
      Hiroshi Onishi, <span class="underline">Hidekazu Nagamura</span>, Momoko
      Hishitani, Shota Murai, Kohta I. Kobayasi, “Effect of emotional sounds on
      attentional capture”, 第43回 日本神経科学大会, 2020年7月
    </li>
    <li>
      <span class="underline">Hidekazu Nagamura</span>, Hiroshi Tanaka, Yuma
      Osako, Momoko Hishitani, Shota Murai, Kohta I. Kobayasi, “Reward history
      biases detection of change in auditory streaming”, 第9回
      東北脳科学ウィンタースクール, 2020年2月
    </li>
    <li>
      Hiroshi Tanaka, <span class="underline">Hidekazu Nagamura</span>, Momoko
      Hishitani, Shota Murai, Kohta I. Kobayasi, “Effect of emotional
      informative sounds on attentional performance”, 第9回
      東北脳科学ウィンタースクール, 2020年2月
    </li>
    <li>
      <span class="underline">Hidekazu Nagamura</span>, Yuma Osako, Hiroshi
      Tanaka, Momoko Hishitani, Kohta I. Kobayasi, “Reward history modulates
      behavioral performance in auditory change-detection task”, 第22回
      日本音響学会関西支部若手研究者交流研究発表会, 2019年11月
    </li>
  </ul>
</BaseLayout>
