---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Publication">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Articles</div>
  </div>

  <ul class="list-decimal mx-6 mb-10 grid gap-2">
    <li>
      Uenaka, M., Nagamura, H., Okamoto, A., Hiryu, S., Kobayasi, K. I., &
      Tamai, Y. (2022). Feasibility evaluation of transtympanic laser
      stimulation of the cochlea from the outer ear. The Journal of the
      Acoustical Society of America, 152(3), 1850.
      <a href="https://doi.org/10.1121/10.0014241"
        >https://doi.org/10.1121/10.0014241</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Preprints</div>
  </div>

  <ul class="list-decimal mx-6 mb-10 grid gap-2">
    <li>
      Nagamura, H., Onishi, H., Hishitani, M., Murai, S., Osako, Y., & Kobayasi,
      K. I. (2021). Reward priming differentially modulates enhancement and
      inhibition in auditory decision-making. In bioRxiv (p. 2021.12.23.473984).
      <a href="https://doi.org/10.1101/2021.12.23.473984"
        >https://doi.org/10.1101/2021.12.23.473984</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Conferences</div>
  </div>

  <ul class="text-xl mx-6 mb-10 grid gap-2">
    <li>Under Construction...</li>
  </ul>
</BaseLayout>
